@import 'tailwindcss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh; 
  overflow: hidden;
}
@layer base{
  p{
    @apply text-gray-700 text-base md:text-lg leading-relaxed font-semibold;
  }
}
@layer components {
  .btn {
    @apply  text-white font-bold py-3 px-14 rounded-full cursor-pointer;
  }
}
