@import 'tailwindcss';

body {
  margin: 0;

}
@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-mont: 'Montserrat', sans-serif;
  --font-metro: 'Metropolis', sans-serif;
  --color-primary: #0096E9;
  --color-primaryBlack: #1A1B1C;
  --color-gray: #9C9C9C;
}
@layer base{
  h1{
    @apply font-metro
  }
  p,li{
    @apply font-mont
  }
}
@layer components {
  .btn {
    @apply  text-white font-bold py-3 px-14 rounded-full cursor-pointer;
  }
  .gray-text{
    @apply text-gray-700 text-base md:text-lg leading-relaxed font-semibold;
  }
  .subtitle{
    @apply xl:text-[22px] lg:text-lg text-sm md:text-base font-mont;
  }
  .section-spacing{
    @apply mx-25 mb-[150px]
  }

  .header-centered{
    @apply flex flex-col justify-center items-center gap-5
  }
}
